<%- include("partials/header") -%>



<center><h1>Hakkımda</h1></center>
<center><p>Selam ben peyxw 14 yaşında kendini geliştirmeye çalışan bir geliştiriciyim bir çok dil hakkında az çok bilgi sahibiyim çoğunlukla derin örenme ve python üzerine çalışırım</p></center>






