<%- include("partials/header") -%>



<center><h1>İletişim</h1></center>
<center><p>Selamlar benle site üzerinden veya discord veya githup veya mail üzerinden iletişim sağlıya bilirsiniz.</p></center>






